<!DOCTYPE html>
<html>

<head>
	<title>TADS Atividade Desenvolvimento Web 2022-2</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="container">
	<h1>Listagem e inclusão de músicas</h1>
	<h2>TADS Atividade Desenvolvimento Web 2022-2 - Turma A</h2>
	<p>Nome completo: <strong>Paola Soares Gomes</strong></p>
	<p>Observações:<br />
		<em style="color: #aaa">SE NECESSÁRIO, INCLUIR NESTA SEÇÃO OBSERVAÇÕES A RESPEITO DA ATIVIDADE
			REALIZADA</em>
	</p>
	<p  >
		<button>
			<a href="/musicas">Link para tela de listagem das músicas</a>
		</button>
	</p>
</div>
</body>

</html>
